.DS_Store

# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Notebook checkpoints
.ipynb_checkpoints/

# ML experiment artifacts
mlruns/

# Data files
data/*
!data/.gitkeep

# Model artifacts
models/*
!models/.gitkeep

# I had some extra files that I wanted to git ignore for the submission
docs/
resources/
semantic/